In [ ]:
# Conditional Statement

age = int(input("Enter your age: "))

if age >= 21:
  print("You are eligible to vote.")

Enter your age: 21
You are eligible to vote.

In [ ]:
#if-else statement
age = int(input("Enter your age: "))

if age >= 21:
  print("You are eligible to vote.")
else:
  print("You are not eligible to vote.")

Enter your age: 18
You are not eligible to vote.

In [ ]:
#if else and elif statement
marks = 70
if marks >= 90:
  print("Grade A")
elif marks >= 80:
  print("Grade B")
elif marks >= 70:
  print("Grade C")
elif marks >= 60:
  print("Grade D")
else:
  print("Grade F")

Grade C

In [ ]:
#Nested If Statement
num = int(input("Enter a number: "))

if num >= 0:
  if num == 0:
    print("The number is zero.")
  else:
    print("The number is positive.")
else:
  print("The number is negative.")

Enter a number: 100
The number is positive.

In [ ]:
# Use nested if statement to check if it is greatar than 5 and even or odd?
num = int(input("Enter a number: "))

if num > 5:
  if num % 2 == 0:
    print(num, "is greater than 5 and even.")
  else:
    print(f"{num} is greater than 5 and odd.")

Enter a number: 10
10 is greater than 5 and even.

In [ ]:
is_adult = True
has_voter_id = False
if is_adult and has_voter_id:
  print("You are eligible to vote.")
else:
  print("You are not eligible to vote.")

You are not eligible to vote.

In [ ]:
# Ternary Operator

num = 10
result = "Even" if num % 2 == 0 else "Odd"
print(result)

age = 30
message = "Adult" if age >= 18 else "Not Adult"
print(message)

Even
Adult

In [ ]:
#match-case statement
#Traffic Singal

color = input("Enter the color: ").lower()
match color:
  case 'red':
    print("Stop")
  case 'yellow':
    print("Get Ready")
  case 'green':
    print("Go")
  case _:
    print("Invalid color")

Enter the color: REd
Stop

In [ ]:
#For Loop on list

fruits = ["Apple", "banana", "Mango"]
for fruit in fruits:
  print(fruit)

Apple
banana
Mango

In [ ]:
#For Loop on string

fruits = "Apple"
for fruit in fruits:
  print(fruit)

A
p
p
l
e

In [ ]:
#For Loop on dictionary

fruits = {"fruit": "apple", "Car":"Suzuki", "City": "Tokyo"}
for key, value in fruits.items():
  print(f"{key} : {value}")

fruit : apple
Car : Suzuki
City : Tokyo

In [ ]:
#Range function
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#While Loop
count = 0
while count <= 5:
  print(f"Count: {count}")
  count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [ ]:
#While Loop infinite

while True:
  user_input = input("Enter q to exit: ")
  if user_input == "q":
    print("Exit the loop")
    break

Enter q to exit: q
Exit the loop

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)

for i in range(10):
  if i == 5:
    continue
  print(i)

for i in range(10):
  pass

0
1
2
3
4
0
1
2
3
4
6
7
8
9

In [ ]:
#Loop inside Loop
for i in range(3):
  for j in range(2):
    print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
for i in range(1, 6):
  for j in range(1, 11):
    print(f"{i} x {j} = {i * j}")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Loop else statement
for i in range(5):
  print(i)
else:
  print("Loop completed")

0
1
2
3
4
Loop completed

In [ ]:
#Search Functionality

nums = [1, 2, 3, 4, 5, ]
search = 7

for num in nums:
  if num == search:
    print(f"Found {search}")
    break
else:
  print(f"{search} not found")

7 not found

In [ ]:
#Define Functions in Python Language
def greet(name):
  print(f"Hello, {name} is learning Python Language")

greet("Umair")

Hello, Umair is learning Python Language

In [ ]:
def add(a,b):
  return a+b

print(add(1,2))

def display_info(name, age = 31):
  print(f"Name: {name}, Age: {age}")

display_info(name = "Umair", age = 32)

3
Name: Umair, Age: 32

In [ ]:
def my_function():
  pass

result = my_function()
print(result)

None

In [ ]:
#Arbitrary Arguments

def print_arg(*args):
  for arg in args:
    print(arg)

print_arg(1,2,3,4,5)


#Keyword Arguments

def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

print_kwargs(name = "Umair", age = 31)

1
2
3
4
5
name: Umair
age: 31

In [ ]:
#lambda function
#one liner function

square = lambda x: x**2
print(square(5))

add = lambda x,y: x+y
print(add(1,2))

25
3